/*.cart-page{
 margin: 80px auto;  

}
table{
    width: 55%;
    margin-left: 100px;
    border-collapse: collapse;
    
}
.card-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: black;
    background-color: rgb(243, 218, 245);
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td a{
    color: red;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
  
    justify-content: flex-end;
}
.total-price table{
   
    width: 100%;
    max-width: 350px;
 
    background-color: rgb(244, 242, 242);
}
td:last-child{
    text-align:right
}
th:last-child{
    text-align: right;
}*/
/* Add your custom styles here for responsiveness */

/* Example: Reduce font size for mobile screens */
@media (max-width: 768px) {
    /* Reduce font size for buttons and labels */
    .cart-item-count,
    .total-price td strong,
    .total-price input {
      font-size: 14px;
    }
    .productdetail{
        font-size: 14px;
    }
    
    /* Adjust table column widths for mobile */
    table {
      width: 100%;
      margin-top: 20px;
    }
  
    /* Make the "Place Order" button full-width */
    #placeorder {
      width: 100%;
    }

    
  }
  

  