.containers {
   
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
  }
  
  h1 {
   
    color: #3498db;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
    
  }
  
  ol {
    margin-top: 0;
  }
  
  ol li {
    margin-bottom: 10px;
  }