<%-include('../layouts/header.ejs') %>
  <link rel="stylesheet" type="text/css" href="aboutus_style.css">
  <div class="containers" style="margin-top: 50px;">
    <h3>About Beauty Bonanza</h3>
    <p>Beauty Bonanza is an online supermarket in Thrissur, Kerala that lets you order products varying multiple
      categories such as hair care,skin care, make up, naturals, fragrence etc. We accept orders online and over the
      phone and deliver the ordered product within a few hours (maximum 24 hours). We aim to provide the best quality
      products for your daily needs without much hassle.</p>

    <p>In 2020, life has become very complex, not allowing us to step out of our houses without fearing for our health.
      Have you wondered how it would have been if quality products were available at our doorstep within a reasonable
      price in these conditions? Beauty Bonanza will make that possible. The delivery service is currently operational
      across Thrissur.</p>
  </div>

  <%-include('../layouts/footer.ejs') %>