<%-include('../layouts/header.ejs') %>
<link rel="stylesheet" type="text/css" href="privacy_style.css">
<div class="containers">
    <br>
    <h3>Privacy Policy</h3>

    <p>
      Beauty Bonanza is the licensed owner of the www.beautybonanza.in . We respect your privacy, and the details entered into our website shall be protected, and shall be collected only as data information for the functioning of the website. This Privacy Policy is published pursuant to
      <ol>
        <li>Section 43A of the Information Technology Act, 2000</li>
        <li>Regulation 4 of the Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Information) Rules, 2011 (“SPI Rules”); and</li>
        <li>Regulation 3(1) of the Information Technology (Intermediaries Guidelines) Rules, 2011</li>
      </ol>
      As a visitor or User/Customer, you are advised to please read the Privacy Policy carefully. By accessing the services provided by the website or the Mobile application, you agree to the collection and use of your data by the “Company” in the manner provided in this Privacy Policy.
      <br>
      All products and contents in the website and the mobile application are offered on and ‘as is’ basis without any warranty whatsoever either and otherwise expressly stated or implied. The website makes no representations or guarantee, the functionalities of the website, that it shall be uninterrupted or error-free, or shall be free of viruses or other harmful components, or defects. If such occurrence comes to be known or aware of, it shall be corrected by the “Company” themselves.
    </p>
    <p>
        <h5>Data Collection And Protection</h5>
        <p>This Privacy Policy sets out the type of information collected from the Users, including the nature of the sensitive personal data or information, the purpose, means and modes of usage of such information and how and to whom the Company shall disclose such information.</p>
        <p>While the User/Customer access the website, and enters the details for the purchase of the products, the information collected such as the: Name including the First name and the Last name, Email address/ alternative email address, Mobile phone number, Address details, Postal code, the Demographic profile like the age, gender, occupation etc and the information about the pages on the website /links consequently connected to the website and the likewise browsing information, are collected as part of the registration process for the website only and processing for the delivery.</p>
        <p>Other data includes:</p>
        <ol>
        <li> Password used.</li>
        <li>The financial information such as the bank account, card information and other payment instruments.</li>
        <li>Sexual orientation.</li>
        <li>Biometric information.</li>
        <li>Any of the information received under above personal information categories by the Company is utilised been processed and stored under lawful contract or otherwise.</li>
        </ol>
    </p>

    <!-- Rest of the content -->

  </div>


<%-include('../layouts/footer.ejs') %>