<%-include('../layouts/header.ejs') %>
<br>
<div class="container col-md-8" >
  <h5 ><strong>Change Password</strong></h5>
    
<form action="" method="post" class="box" style="border: 2px solid #dbcdcd; padding: 20px; border-radius: 20px;box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);">
    <div class="mb-3 ">
        <label for="exampleInputPassword1" class="form-label">Old Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="oldpassword">
        
      </div>
      <br>
    <div class="mb-3 ">
      <label for="exampleInputPassword2" class="form-label">New Password</label>
      <input type="password" class="form-control" id="exampleInputPassword2" name="newpassword">
      
    </div>
   <br>
   <div class="mb-3 ">
    <label for="confirmpassword" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="confirmpassword" name="confirmpassword">
    
  </div>
  <br>
    <button type="submit" style="background-color: rgb(250, 191, 241); " class="btn btn-light " onclick="return validateForm()">Submit</button>
    <br>
    <span id="passwordError" style="color: red;"></span>
    <br>
    <% if (typeof message !== 'undefined') { %>
      <div class="alert alert-warning text-center" role="alert" id="invalidAlert">
        <strong><%= message %></strong>
      </div>
    <% } %>
  </form>
</div>

<script>
 window.onclick = function(){
    clearAlert()
  }
  async function clearAlert(){
    const userAlert = await document.getElementById('invalidAlert')
    if(userAlert){
      userAlert.style.display = 'none'
    }
  }

  function validateForm() {
  const password1 = document.getElementById('exampleInputPassword1').value;
  const password2 = document.getElementById('exampleInputPassword2').value;
  const password3 = document.getElementById('confirmpassword').value;
  const passwordError = document.getElementById('passwordError');
  // Password validation (at least 8 characters)
  if (password1.length < 8 || password2.length < 8|| password3.length < 8) {
    console.log("enter")
    passwordError.innerText = 'Password must be at least 8 characters long.';
    return false;
  }else {
    passwordError.innerText = ''; // Clear previous error message
  }

  return true;
}
</script>
<%-include('../layouts/footer.ejs') %>